<p>Nested Containers
</p>
<span>Show: </span>
<input type="radio" name="options" value="All" [(ngModel)]="selecetedRadioButonValue" (change)="onRadioButtonSelectionChange()">
<span>{{"All("+all+")"}}</span>
<input type="radio" name="options" value="Male" [(ngModel)]="selecetedRadioButonValue" (change)="onRadioButtonSelectionChange()">
<span>{{"Male("+male+")"}}</span>
<input type="radio" name="options" value="Female" [(ngModel)]="selecetedRadioButonValue" (change)="onRadioButtonSelectionChange()">
<span>{{"Female("+female+")"}}</span>